@{
    ViewData["Title"] = "Home Page";
}

<!-- <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Get to know a few of <a href="/animals">our animals</a> from the Cretaceous period!</p>
    <h6>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</h6>
</div> -->


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>this is a test to see if pagination will work <a href="/animals">our animals</a></p>
    <h6>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</h6>
</div>

